<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <% if (pet) { %>  
    <title><%= pet.nombre %></title>
    <% } %>
    <link rel="icon" type="image/png" href="imagenes-pincipales/APPDOTAME-favicon.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body id="perros">
    <div class="contenedor">
        <div class="barra">
            <div class="nave">
                <a href="index.html"><img src="imagenes-pincipales/APPDOTAME-sin-fondo-logo.png"></a>
            </div>
            <div class="navegacion">
                <a href="index.html">Inicio</a>
            </div>
            <div class="navegacion">
                <a href="#caracteristicas">Caracteristicas</a>
            </div>
            <div class="navegacion">
                <a href="#adoptar">Adoptar</a>
            </div>
            <div class="navegacion">
                <a href="#contacto">Contacto</a>
            </div>
            <div class="navegacion">
                <a href="#mi-sesion">Mi sesión</a>
            </div>
        </div>
        <% if (pet) { %>          
        <div class="pagina">
            <div id= "nombre"><h2><%= pet.nombre %></h2></div>
            <div class="contenedor-pagina">
                <div class="img-grup">
                    <div id="previus">
                        <div class="img-content"><img id="img-1" src="<%= pet.imagenes[0] %>" alt="imagen-1"></div>
                        <div class="img-content"><img id="img-2" src="<%= pet.imagenes[1] %>" alt="imagen-2"></div>
                        <div class="img-content"><img id="img-3" src="<%= pet.imagenes[2] %>" alt="imagen-3"></div>
                        <div class="img-content"><img id="img-4" src="<%= pet.imagenes[3] %>" alt="imagen-4"></div>
                    </div>
                    <div id="principal">
                        <div class="img-grande"><img id="img-principal" src="<%= pet.imagenes[0] %>" alt="imagen"></div>
                    </div>
                </div>
                <div class="caracteristicas">
                    <div class="info">
                        <div class="tarjeta">
                            <div class="propiedad">Especie</div>
                            <div class="valor"><%= pet.especie %></div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Raza</div>
                            <div class="valor"><%= pet.raza %></div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Edad</div>
                            <div class="valor"><%= pet.edad %></div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Esterilizado</div>
                            <div class="valor">
                                <% if (pet.esterilizado) { %>
                                    sí
                                <% } else{ %>  
                                    no
                                <% } %>
                            </div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Vacunas</div>
                            <div class="valor">
                                <% if (pet.esterilizado) { %>
                                    sí
                                <% } else{ %>  
                                    no
                                <% } %>
                            </div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Ubicacion</div>
                            <div class="valor"><%= pet.ubicacion %></div>
                        </div>
                        <div class="tarjeta">
                            <div class="propiedad">Cuidados Especiales</div>
                            <div class="valor"><%= pet.cuidadosEspeciales %></div>
                        </div>
                        <div class="boton-pagina">
                            <a href="/adoptar?nombre=<%= pet.nombre %>" class="boton-1" target="_blank">ADOPTAR</a>
                            <a href="contactar" class="boton-2" target="_blank">CONTACTAR</a>
                        </div>
                    </div>
                </div> 
            </div>               
        </div>
        <% } %>
    </div>
    <script>
        const imagengrande = document.getElementById("img-principal")
        const imagenes= document.querySelectorAll(".img-content")
        imagenes.forEach(imagen=>{
            imagen.addEventListener("click", (e)=>{
                const source = e.target.src
                imagengrande.src = source
            })
        })
    </script>
</body>
</html>